.btn-blue {
  background-color: $light-blue;
  color: #fff;

  &:hover {
    background-color: $light-blue;
    color: #fff;
    opacity: 0.6;
    transition: .1s;
  }
}

.btn-gray {
  background-color: $medium-gray;
  color: #fff;

  &:hover {
    background-color: $medium-gray;
    color: #fff;
    opacity: 0.6;
    transition: .1s;
  }
}

#add-post-btn {
  text-align: center;
  color: white;
  background-color: $light-blue;
  padding: 4px ;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  text-decoration: none;
}
