.header-blue {
  color: $light-blue;
  font-weight: 700;
  font-size: 32px;
}

.text-line {
  position: relative;
  display: inline-block;
  text-align: center;
  }
  .text-line::before, .text-line::after {
    content: "";
    position: absolute;
    top: 0.65em;
    width: 40%;
    height: 0.05em;
    background-color: #666666;
    left: 0em;
  }
  .text-line::after {
    left: initial;
    right: 0em;
  }

  .truncate-paragraph {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
  }
